@import helper._

@(addFuelPricesForm: Form[models.FuelPrice],user: models.users.User)

@main("addPrices",user) {
<div id="page-wrapper">
      <h3>New fuel prices</h3>

    <div class="leftcontact">

       @form(action = routes.HomeController.addFuelPricesSubmit(), 'class -> "form", 'role->"form") {

           @inputText(addFuelPricesForm("name"), '_label -> "Type",'class -> "form-control")
           @inputText(addFuelPricesForm("price"), '_label -> "Price",'class -> "form-control")

           @inputText(addFuelPricesForm("id"), '_label -> "",'hidden -> "hidden")

    <div class="action">
         <input type="submit" value="Update Fuel Price" class="btn btn-primary">
             <a href="@routes.HomeController.setFuelPrices()">
             </a>
    </div>
    }
        </div>
</div>
}
