
@main("fuelLevels"){

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Fuel Levels</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">15,000</div>	<!-- getDieselAmount -->
                                    <div>Litres</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Diesel</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">40,000</div>	<!-- getUnleadedAmount -->
                                    <div>Litres</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Unleaded</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
				</div>
            </div>
            <!-- /.row -->
			<div class = "row">
				<!-- tank 1 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
						Tank 1 - Diesel
                        </div>
							<div class="panel-body">
								<div id="tank-container">
									<div id="tank-content"></div>
								</div>
							</div>
					</div>
				</div>

				<!-- /tank 1 -->
				
				<!-- tank 2 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
						Tank 2 - Diesel
                        </div>
						<div class="panel-body">
							<div id="tank-container">
								<div id="tank-content"></div>
							</div>
						</div>
                    </div>
				</div>
				<!-- /tank 2 -->
				
				<!-- tank 3 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
						<div class="panel-heading">
							Tank 3 - Diesel
						</div>
							<div class="panel-body">
								<div id="tank-container">
									<div id="tank-content"></div>
								</div>
							</div>
                    </div>
				</div>
				<!-- /tank 3 -->
				
				<!-- tank 4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
						<div class="panel-heading">
							Tank 4 - Unleaded
						</div>
						<div class="panel-body">
							<div id="tank-container">
								<div id="tank-content"></div>
							</div>
						</div>
                    </div>
				</div>
				<!-- /tank 4 -->
				
				<!-- tank 5 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
						Tank 5 - Unleaded
                        </div>
						<div class="panel-body">
							<div id="tank-container">
								<div id="tank-content"></div>
							</div>
						</div>
                    </div>
				</div>
				<!-- /tank 5 -->
				
				<!-- tank 6 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
						Tank 6 - Unleaded
                        </div>
						<div class="panel-body">
							<div id="tank-container">
								<div id="tank-content"></div>
							</div>
						</div>
                    </div>
				</div>
			</div>
				<!-- /tank 6 -->
			</div>
                <!-- /.col-lg-3 -->
		</div>
}
