@(user: models.users.User)

@main("index", user){

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Fuel Levels</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dashboard fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">15,000</div>	<!-- getDieselAmount -->
                                    <div>Litres</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.HomeController.reportsDiesel()">
                            <div class="panel-footer">
                                <span class="pull-left">Diesel</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dashboard fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">40,000</div>	<!-- getUnleadedAmount -->
                                    <div>Litres</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.HomeController.reportsUnleaded()">
                            <div class="panel-footer">
                                <span class="pull-left">Unleaded</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
				</div>
            </div>
            <!-- /.row -->
			<div class = "row">
				<!-- tank 1 -->									 
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
						Display of Fuel Tanks	
                        </div>
						<!--begin for loop -->
							<div class="panel-body">
								<div id="tank-container">
									<div id="tank-content"></div>
								</div>
								<div id = "tank-details">
									<ul>&nbsp;&nbsp;Tank Name: </ul>	<!-- Get Values -->
									<ul>&nbsp;&nbsp;Capacity: </ul>
									<ul>&nbsp;&nbsp;Dip: </ul>
									<ul>&nbsp;&nbsp;Ullage: </ul>
								</div>
							</div>
						<!-- /end loop -->
					</div>
				</div>
																
				<!-- /tank 1 -->

			</div>
                <!-- /.col-lg-3 -->
}
