@import helper._

@(newFuelOrderForm: Form[models.Tank],user: models.users.User)

@main("newFuelOrder",user) {
    <div id="page-wrapper">
        <h3>Order Amount</h3>

        @form(action = routes.HomeController.newFuelOrderSubmit(), 'class -> "form-horizontal", 'role->"form") {

            @inputText(newFuelOrderForm("name"), '_label -> "Tank",'class -> "form-control")
            @inputText(newFuelOrderForm("dip"), '_label -> "Amount",'class -> "form-control")

            @inputText(newFuelOrderForm("id"), '_label -> "",'hidden -> "hidden")

            <div class="action">
                <input type="submit" value="Create Order" class="btn btn-primary">
                <a href="@routes.HomeController.orderFuel()">

                </a>
            </div>
        }
    </div>
}
