@(tank: List[models.Tank],user: models.users.User)

@main("orderFuel", user){

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Order Fuel</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please enter order amount below
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="leftcontact">	<!-- LEFT HAND SIDE START -->
                            <!-- Start of Loop -->
                            @for(t <- tank){
                            <p>Current @t.getName Level</p>
                            <div class="form-group input-group">
                                <span class="input-group-addon">Ltrs
                                </span>
                                <input type="text" class="form-control" data-rule="required" value="@t.getDip" readonly>
                                <div class="validation"></div>
                            </div>
                            }
                                <!-- end of loop -->
                        </div>			<!-- LEFT HAND SIDE FINISH -->

                        <!-- RIGHT HAND SIDE START -->

                        <div class="rightcontact">

                            <!-- Start of Loop -->
                            @for(t <- tank){
                            <p>Current @t.getName Level</p>
                            <div class="form-group input-group">
                                <span class="input-group-addon">Ltrs
                                </span>
                                <input type="text" class="form-control" data-rule="required" placeholder="Enter order amount" >
                                <div class="validation"></div>
                            </div>
                            }
                                <!-- end of loop -->


                            <div style="float: right">
                                <button class="btn btn-primary">Submit Order<br/></button>
                            </div>

                                <!-- RIGHT HAND SIDE FINISH -->

                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
        </div>
            <!-- /.row -->
    </div>
        <!-- /#page-wrapper -->

    </div>
}
