@(user: models.users.User)

@main("orderFuel", user){

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Order Fuel</h1>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please enter order amount below
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="leftcontact">	<!-- LEFT HAND SIDE START -->

                            <div class="form-group">
                                <p>Current Tank 1 Level - Diesel</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Current Tank 2 Level - Diesel</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Current Tank 3 Level - Diesel</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Current Tank 4 Level - Unleaded</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Current Tank 5 Level - Unleaded</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Current Tank 6 Level - Unleaded</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" readonly>
                                <div class="validation"></div>
                            </div>


                        </div>			<!-- LEFT HAND SIDE FINISH -->

                        <!-- RIGHT HAND SIDE START -->

                        <div class="rightcontact">

                            <div class="form-group">
                                <p>Order Amount for Tank 1</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Order Amount for Tank 2</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Order Amount for Tank 3</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Order Amount for Tank 4</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Order Amount for Tank 5</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Order Amount for Tank 6</p>
                                <span class="icon-case">Ltrs</span>
                                <input type="text" name="" id="" data-rule="required" data-msg=""/>
                                <div class="validation"></div>
                            </div>

                            <div style="float: right">
                                <button class="btn btn-primary">Submit Order<br/></button>
                            </div>

                                <!-- RIGHT HAND SIDE FINISH -->

                        </div>
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
        </div>
            <!-- /.row -->
    </div>
        <!-- /#page-wrapper -->

    </div>
}